.dashboard.card {
    svg {
        fill: var(--text);
    }

    .rotatable-content {
        width: 42px;
        height: 42px;
        border: 1px solid var(--text);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seas-observation, .wind-observation {
        max-height: 82px;
    }

    //&.tide-chart {
    //    flex: 1 1 600px;
    //    min-width: 0;
    //    max-width: 800px
    //}

}
