@use "sass-variables" as *;

.dashboard.card {
    svg {
        fill: var(--text);
    }

    .rotatable-content {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seas-observation, .wind-observation {
        max-height: 52px;
    }

    a {
        border-radius: $radius-2;
        cursor: pointer;

        &:hover {
            outline: 2px solid var(--text);
            outline-offset: -2px;
        }
    }

    .current-predictions {
        .border-bottom {
            padding: 5px 0;
            border-bottom: 1px solid var(--card-3);
            scroll-margin-top: -56px;
            &:first-of-type {
                border-bottom-width: 2px;
                background-color: var(--card-1);
            }
        }
    }
}
