@use "sass-variables" as *;

.dashboard.card {
    svg {
        fill: var(--text);
    }

    .rotatable-content {
        width: 42px;
        height: 42px;
        //border: 1px solid var(--text);
        //border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seas-observation, .wind-observation {
        max-height: 82px;
    }

    a {
        border-radius: $radius-2;
        cursor: pointer;

        &:hover {
            outline: 2px solid var(--text);
            outline-offset: -2px;
        }
    }
}
