@use "sass-variables" as *;

form#edit-station {
    flex-grow: 1;
    @container (width < 1200px) {
        > div:first-child {
            flex-direction: column;
            row-gap: 1rem;

            > div {
                width: 100%;
            }
        }
    }
    .table-header, .table-item {
        grid-template-columns: 100px 100px auto 140px 60px;

    }

    .new-data-source-picker {
        grid-template-columns: 100px 172px auto 60px;

        .temp-order {
            border: 1px solid var(--card-3);
            padding: $spacer-2;
            border-radius: $radius-2;
            width: 56px;
        }

        > select {
            margin-right: $spacer-4;
        }
    }
}