@use "reset";
@use "root-variables";
@use "edit-station";
@use "sass-variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--background);
    color: var(--text);

    .color-text {
        color: var(--text) !important;
    }

    .bg-color-card-1 {
        background-color: var(--card-1);
    }

    label.required {
        &:after {
            content: '*';
            color: #cc0000;
            margin-left: 4px;
        }
    }

    input[type=number] {
        width: 56px;
    }

    .form-control.flex-1 {
        input[type=number] {
            width: unset;
        }
    }

    .card {
        background-color: var(--card-1);
        border-radius: $radius-2;
        padding: $spacer-3;
        display: flex;
        container-type: inline-size;

        svg {
            color: var(--card-2);
        }

        .card {
            background-color: var(--card-2);

            svg {
                color: var(--card-3);
            }

            .card {
                background-color: var(--card-3);

                svg {
                    color: var(--text);
                }
            }

        }
    }

    .table {
        padding: 0;

        .table-header {
            position: sticky;
            top: -1.25rem;
            background-color: var(--card-3);
            padding: $spacer-3;
            border-bottom: 1px solid var(--card-1);

            &:first-of-type {
                border-radius: $radius-2 $radius-2 0 0;
            }
        }

        span .table-item, .table-item {
            width: 100%;
            background-color: var(--card-2);
            border-top: 1px solid var(--card-1);

            > * {
                margin-right: $spacer-4;
            }

            &:is(button) {
                &:hover {
                    outline: 2px solid var(--text);
                    outline-offset: -2px;
                }
            }

            &:last-of-type {
                border-radius: 0 0 $radius-2 $radius-2;

                .table-item {
                    border-radius: 0 0 $radius-2 $radius-2;
                }
            }

        }
    }

    input, button:not(.link):not(.table-item), select {
        padding: $spacer-2;
        background-color: var(--background);
        border-radius: $radius-2;

        &.small {
            padding: $spacer-1;
            border-radius: $radius-1;
        }

        &.outline-btn {
            background-color: transparent;
            border: 2px solid var(--background);

            svg {
                color: var(--background);
            }
        }

        &.transparent {
            padding: 0;
            background-color: transparent;

            &:hover * {
                color: var(--text);
            }
        }
    }

    button.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        //font-size: 28px;
        padding: 0 !important;
    }

    button:not(.link):not(.transparent):not(.table-item) {
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 3px 3px 8px 2px var(--button-shadow);
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: $radius-2;
        background: var(--card-1);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--card-2);
        border-radius: $radius-2;
    }

    div.tooltip {
        position: fixed;
        background-color: var(--text);
        color: var(--card-2);
        padding: 4px 8px;
        border: 1px solid var(--card-2);
        border-radius: $radius-2;
        box-shadow: 1px 1px 3px #222;
        z-index: 99999;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    .theme-toggle {
        span {
            background-color: var(--card-2);
        }
    }
}